<div class="row d-flex align-items-start justify-content-around">
    <div *ngFor="let p of products" class="col-3 p-0 m-1" id="card">
        <img class="card-img-top" src="/img/{{p.artId}}.jpg" [alt]="p.title" style="max-width: 100%; height: auto">
        <div class="p-2">
            <h6 class="card-title font-weight-bold">{{p.title}}</h6>
            <p class="card-text">{{p.artDescription | slice:0:38}}...</p>
        </div>
        <div class="d-flex justify-content-between p-2 card-footer">
            <button class="btn btn-primary" (click)="addProduct(p)">Buy</button>
            <small class="">{{p.price | currency}}</small>
        </div>
    </div>
</div>
