@model IEnumerable<Product>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:whitesmoke">Album</h1>

<p style="color:whitesmoke">Photos in Stock: @Model.Count()</p>

<div class="row justify-content-between">

    @foreach (var p in Model)
    {
        <div class="col col-4 mb-4 d-flex" style="min-width:340px">
            <div class="card">
                <img src=@("/img/" + @p.ArtId + ".jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">@p.Title</h4>
                    <h5 class="card-title">$@p.Price</h5>
                    <p class="card-text">@p.ArtDescription</p>
                </div>
            </div>
        </div>
    }

</div>