/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/

:root {
    --main-bg-color: #4A4A4A;
    --secondary-bg-color: #545454;
    --red-color: #EA3636;
}

* {
    font-family: 'Rufina', serif;
}

body {
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
}


html, body {
    background: var(--main-bg-color); /* Old browsers */
    background: -moz-linear-gradient(left, var(--main-bg-color) 0%, var(--main-bg-color) 50%, var(--secondary-bg-color) 50%, var(--secondary-bg-color) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,var(--main-bg-color)), color-stop(50%,var(--main-bg-color)), color-stop(50%,var(--secondary-bg-color)), color-stop(100%,var(--secondary-bg-color))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, var(--main-bg-color) 0%,var(--main-bg-color) 50%,var(--secondary-bg-color) 50%,var(--secondary-bg-color) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, var(--main-bg-color) 0%,var(--main-bg-color) 50%,var(--secondary-bg-color) 50%,var(--secondary-bg-color) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, var(--main-bg-color) 0%,var(--main-bg-color) 50%,var(--secondary-bg-color) 50%,var(--secondary-bg-color) 100%); /* IE10+ */
    background: linear-gradient(to right, var(--main-bg-color) 0%,var(--main-bg-color) 50%,var(--secondary-bg-color) 50%,var(--secondary-bg-color) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-bg-color)', endColorstr='var(--secondary-bg-color)',GradientType=1 ); /* IE6-9 */
}

a.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: white !important;
}

a.nav-link:hover {
    color: var(--red-color) !important;
}

nav.navbar {
    background-color: transparent !important;
    /*padding: .5rem 10vw !important;*/
}

.border-bottom {
    border-bottom: none !important;
}

.container-fluid {
    padding-left: 10vw;
    padding-right: 10vw;
}

img.card-img-top {
    height: 200px !important;
    object-fit: cover;
}

div#card {
    min-height: 400px;
    background-color: whitesmoke;
}