<div class="card ml-2" style=" min-width: 322px;">
    <div class="card-body">
        <h5 class="card-title">Shopping Cart</h5>
        <h6 class="card-subtitle mb-2 text-muted">Product Amount: {{data.order.items.length}}</h6>
    </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of data.order.items">
                    <td>{{o.productCategory}}</td>
                    <td>{{o.quantity}}</td>
                    <td>{{o.unitPrice | currency:"USD":true}}</td>
                    <td>{{(o.unitPrice * o.quantity) | currency:"USD":true}}</td>
                </tr>
            </tbody>
        </table>

            <div class="card-footer text-muted text-right">Total Price {{data.order.subtotal | currency: "USD":true}}</div>

        <button class="btn btn-success" *ngIf="data.order.items.length > 0" (click)="OnCheckout()">CheckOut</button>
    </div>
